@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    /* padding: 0;
    margin: 0; */
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
}

body::-webkit-scrollbar{
    width: 6px;
}

body::-webkit-scrollbar-thumb{
    background-color: #000;
    border-radius: 24px;
}

@media (max-width:768px) {
    body {
        overflow-x: hidden;
    }
}
