@import 'tailwindcss';

.banner-container {
    width: 100%;
    overflow: hidden;
    height: fit-content;
}

.swiper-container {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Specific override for banner2 to change its position */
.swiper-slide img.banner2 {
    object-position: center bottom;
}

@media (max-width: 768px) {
  /* Dưới 768px: Mobile và Tablet dọc */
  #search {
    display: none;
  }


  
}