@import "tailwindcss";

@media (max-width: 768px) {
  /* Dưới 768px: Mobile và Tablet dọc */
  .navbar-container #navbar_menu ul{
    gap: 10px;
  }
}

@media (max-width: 900px){
    .navbar-container #navbar_menu ul{
        gap: 10px;
    }
}
