@import "tailwindcss";

.sale-none {
   display: none;
}

@media (max-width:768px) {
   .product-container {
      padding: 0;
   }

   .product-container .products {
     display: flex;
     flex-wrap: wrap;
   }

    .product-container .products .card{
      width: 180px;
   }

   .product-container .products .card .product_price {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
   }

   .product-container .products .card .product_price .product_manufacturer_name{
      justify-content: center;
      margin-bottom: 2px;
   }
}

@media (width < 600px){
   .product-container .products .card{
      width: 190px !important;
   }

   .product-container .products .card .product_price {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
   }

   .product-container .products .card .product_price .product_manufacturer_name{
      justify-content: center;
      margin-bottom: 2px;
   }

     #home {
      padding: 0 20px;
   }

   .product-container .products{
      gap: 10px;
      row-gap: 20px;
   }
}

@media (max-width:1024px) {
   .product-container {
      margin-top: 6rem;
   }
   .product-container .products .card{
      width: 190px;
   }

    .product-container .products .card .product_price {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
   }

   .product-container .products .card .product_price .product_manufacturer_name{
      justify-content: center;
      margin-bottom: 2px;
   }
}

@media (max-width: 425px) {
   .product-container .products .card{
   width: 170px !important;
  }
   #home {
   padding: 0 20px;
  }

  .product-container .products{
   gap: 10px;
   row-gap: 20px;
  }
}

@media (max-width: 375px) {
   .product-container .products .card{
   width: 150px !important;
  }
   #home {
   padding: 0 16px;
  }
  .product-container .products{
   gap: 10px !important;
   row-gap: 20px !important;
  }
}

@media (max-width: 329px){
.product-container .products .card{
   width: 145px !important;
  }

   #home {
   padding: 0 10px;
  }
  .product-container .products{
   gap: 10px !important;
   row-gap: 20px !important;
  }
} 

