@import "tailwindcss";

.sale-none {
   display: none;
}

.add_to_cart {
   background-color: rgba(0, 0, 0, 0.496);
}

@media (max-width:768px) {
   .product-container {
      padding: 0;
   }

   .product-container .products {
     display: flex;
     flex-wrap: wrap;
   }

    .product-container .products .card{
      width: 185px;
   }

   .product-container .products .card .product_price {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
   }

   .product-container .products .card .product_price .product_manufacturer_name{
      justify-content: center;
      margin-bottom: 2px;
   }
}

@media (width < 600px){
   .product-container .products .card{
      width: 195px !important;
   }

   .product-container .products .card .product_price {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
   }

   .product-container .products .card .product_price .product_manufacturer_name{
      justify-content: center;
      margin-bottom: 2px;
   }

     #home {
      padding: 0;
   }

   .product-container .products{
      gap: 0;
      row-gap: 20px;
   }
}

@media (max-width:1024px) {
   .product-container {
      margin-top: 1rem;
   }
   .product-container .products .card{
      width: 190px;
   }

    .product-container .products .card .product_price {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
   }

   .product-container .products .card .product_price .product_manufacturer_name{
      justify-content: center;
      margin-bottom: 2px;
   }
}

@media (max-width: 425px) {
   .product-container .products .card{
   width: 175px !important;
  }
   #home {
   padding: 0px;
  }
  .product-container .products{
   row-gap: 20px;
  }
}

@media (max-width: 375px) {
   .product-container .products .card{
   width: 150px !important;
  }
   #home {
   padding: 0;
  }
  .product-container .products{
   gap: 5px !important;
   row-gap: 20px !important;
  }
}

@media (max-width: 329px){
.product-container .products .card{
   width: 145px !important;
  }

   #home {
   padding: 0;
  }
  .product-container .products{
   gap: 10px !important;
   row-gap: 20px !important;
  }
} 

@media (max-width: 360px) {
  .product-container .products .card{
   width: 160px !important;
  }
  .product-container .products{
   gap: 0!important;
   row-gap: 20px !important;
  }
}

@media (max-width: 420px) {
    .product-container .products .card{
      width: 170px !important;
  }
   #home {
   padding: 0;
  }
  .product-container .products{
   gap: 0 !important;
   row-gap: 20px !important;
  }
}

@media (max-width: 320px) {
 .product-container .products .card{
      width: 150px !important;
  }
  
   #home {
   padding: 0;
  }

  .product-container .products{
   gap: 0 !important;
   row-gap: 20px !important;
  }
}

