@import 'tailwindcss';

.upload{
    box-shadow: 1px 0 90px #272722;
}

.popup {
    box-shadow: 0 1px 50px #676565f4;
}

/* Keyframes cho animation */
@keyframes scale-in {
    from {
        transform: scale(0.7);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes scale-out {
    from {
        transform: scale(1);
        opacity: 1;
    }
    to {
        transform: scale(0.7);
        opacity: 0;
    }
}

.animate-scale-in {
    animation: scale-in 0.3s ease-out forwards;
    }
    
    .animate-scale-out {
    animation: scale-out 0.3s ease-out forwards;
    }